@import "__variables";

#upsContainer {

    h1 {
        width: 1013px;
        height: 296px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 160px;
        line-height: 160px;
    }
}


