@import "__variables";

#mainContacto {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "solapa form";

        .btn {
            
            color: #0099CC; /*Color texto */
            background: transparent; /* Eliminar color de fondo */
            border: 2px solid #0099CC; /* Ancho de borde, estilo de línea y color */
            border-radius: 70px; /* Esquinas redondeadas */
            text-decoration: none;
            text-transform: uppercase; /* Mayúsculas */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
    }

        .btn1 {
            margin-top:5%;
            margin-left: 75%;
            background-color: white; 
            color: black; 
            border: 2px solid $base-color;
        }
        .btn1:hover {
            background-color: $base-color;
            color: white;
        }
        b {
        outline:none;
        height: 40px;
        text-align: center;
        width: 130px;
        border-radius:100px;
        background: #fff;
        border: 2px solid $base-color;
        color: $base-color;
        letter-spacing:1px;
        text-shadow:0;

        cursor: pointer;
        transition: all 0.25s ease;
        &:active {
            letter-spacing: 2px ;
        }
        &:after {
            content:"";
        }
        }

        .containerBtn {
            width:100%;
            margin-left:50%;
      }

    

  

        #solapa {
            grid-area: solapa;
            background-color: $dark-color;
            color: white;
            text-align: center;
                p {
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    letter-spacing: 0em;
                    margin-top:10%;
                }
        }

        #formulario {
            color:$base-color;
            font-weight: 600;
            grid-area: form;
            
            #datos1container {
                margin-top:5%;    
            }

            #datos2container {
                margin-top:10%;
            }

            #checkboxContainer {

                margin-top:10%;
                p{
                    margin-left:17%;
                }
    
                #checkbox {
                    width: 55%;
                    margin-left:20%;
                }
            }

            #mensajeCointainer {
                margin-left: 17%;
                margin-top:10%;

                #fmensaje{
                    border:0;
                    border-bottom: 1px solid black;
                }
            }
            
            
        }

        .estilosInput {
            border: 0;
            border-bottom: 1px solid black;
        }

        .flex {
            display:flex;
            justify-content: space-around;
        }

        
      

      
    

}